name: 02-1 Delivery - Docker GHCR

on:
  workflow_call

env:
  REGISTRY: ghcr.io
  USERNAME: ${{ github.actor }}
  IMAGE_NAME: ${{ github.repository }} #orga/repo

jobs:
  Build-Push-DockerGhcr:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Registry Login
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ env.USERNAME }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Downcase Image Name
        run: echo "IMAGE_NAME_LOWER=$(echo ${GITHUB_REPOSITORY,,}"" >> ${GITHUB_ENV}

      - name: Back Build Push
        uses: docker/build-push-action@v4
        with:
          context: backend
          push: true
          tags: ${{ env.REGISTRY}}/${{ env.IMAGE_NAME_LOWER }}-back:latest
          # ghcr.io/floriansp40/golfepade-back

      - name: Front Build Push
        uses: docker/build-push-action@v4
        with:
          context: frontend
          push: true
          tags: ${{ env.REGISTRY}}/${{ env.IMAGE_NAME_LOWER }}-front:latest
          # ghcr.io/floriansp40/golfepade-front